body {
    color: #222;
    font-family: "Georgia", serif;
    background: url(/img/carlbolduc_port.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1 {
    font-family: "proxima-nova", "Gotham", "Futura", "Verdana";
    text-align: center;
    padding: 0.5rem 0 0 0;
    margin: 0;
}

h2 {
    font-family: "proxima-nova", "Gotham", "Futura", "Verdana";
    text-align: center;
    padding: 0 1rem;
    margin: 0;
}

h3 {
    font-family: "proxima-nova", "Gotham", "Futura", "Verdana";
    text-align: center;
    padding: 0.5rem 1rem 1rem 1rem;
    margin: 0;
    font-size: 1rem;
}

p {
    margin: 0 1em 0.5em 1em;
    text-align: left;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

#description {
    position: absolute;
    bottom: 5vh;
    width: 75%;
    margin: 0 12.5%;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    border-radius: 4px;
}

#description li {
    display: inline;
    list-style: none;
}

.button-container {
    margin-top: 2rem;
}

.hire-me {
    padding: 0.625rem 0.9375rem;
    border: 0;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.95);
    background-color: #000;
    font-family: "proxima-nova", "Gotham", "Futura", "Verdana", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
    cursor: pointer;
    text-decoration: none;
}

.footer {
    padding: 1.5rem 0 0 0;
    color: #666;
    font-family: "proxima-nova", "Gotham", "Futura", "Verdana", sans-serif;
    font-size: 0.700rem;
    line-height: 1.25rem;
    text-align: center

}
